.nav {
    height: 72px;
    width: 100%;
}
.nav__ul {
    position: fixed;
    width: 100%;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    z-index: 9999;
}

.nav__responsive-ul {
    display: none;
}

.logo {
    width: 300px
}
hr {
    width: 86%;
    margin: 0 auto;
    color: #fff;
}
.separacion-hr {
    margin-top: 80px;
    position: relative;
    z-index: 9999;
}
.bg-menu-scroll {
    background-color: #000000bd;
    transition: all 1s;
}
.icon-menu-responsive {
    display: none;
}
@media only screen and (min-width: 861px) and (max-width: 1190px) {
    .nav__ul {
        display: none;
    }
    .nav__responsive-ul {
        display: block;
        position: absolute;
        width: 100%;
    }
    .nav__responsive-li {
        padding: 8px 4px;
    }
    .nav__responsive-li a {
        color: #fff;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
    }
    
    .nav__reponsive-li-container {
        width: 100%;
        background-color: #037a74;
        position: relative;
        top: -1000px;
        height: 300px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center; 
        transition: all 0.5s;
        z-index: 1;
    }
    .nav__li-container-transition {
        top: 0px;
    }
}

@media only screen and (max-width: 860px) {
    .info-form {
        width: 100%;
    }
    
    .nav {
        height: 72px;
        width: 100%;
    }
    .nav__ul {
        display: none;
    }
    .nav__responsive-ul {
        display: block;
        position: absolute;
        width: 100%;
    }
    .nav__responsive-li {
        padding: 8px 4px;
    }
    .nav__responsive-li a {
        color: #fff;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
    }
    
    .nav__reponsive-li-container {
        width: 100%;
        background-color: #037a74;
        position: relative;
        top: -1000px;
        height: 300px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center; 
        transition: all 0.5s;
        z-index: 1;
    }
    .nav__responsive-button-container {
        position: absolute;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        font-size: 25px;
        z-index: 100;
    } 
    .nav__li-container-transition {
        top: 0px;
    }
    .logo {
        width: 280px;
        padding: 16px 44px 2px 6px;
    }

    .logo img {
        width: 236px;
    }
    .icon-menu-responsive {
        display: block;
    }
}   